language: rust
rust:
  - nightly
  - beta
  - stable
branches:
  except:
    - staging.tmp
script:
  - |
     if [[ "$TRAVIS_RUST_VERSION" == stable ]]
     then
       rustup component add rustfmt
       cargo fmt --all -- --check
     fi
  - cargo build -v
  - cargo test -v
